.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em 0.5em;
}
.heading {
    margin-bottom: 4em;
}

.post {
    width: 500px;

    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(87, 106, 121);
}

.post img {
    width: 100%;
}

.post h2 {
    cursor: pointer;
}

.post h2:hover {
    color: rgb(87, 106, 121);
}

.post__source {
    font-style: italic;
}

.paginator {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;

    margin-bottom: 5em;
}

.paginator div {
    margin: 25px;
}

.paginator .active {
    cursor: pointer;
}

.paginator .disabled {
    cursor: not-allowed;
    color: lightgray;
}

.footer {
    width: 100%;
    margin: 0.5em auto;
    text-align: center;
}

@media (max-width: 720px) {
    .post {
        width: auto;
        font-size: smaller;
        margin: 0 1em;
        text-align: center;
    }
}
